:root{
    --selected:rgba(33, 150, 243, 1);
    --not-selected:rgba(33, 33, 33, 1);
    --light-gray:rgba(117, 117, 117, 1);
    --white-text:rgba(255, 255, 255, 1);
    --main-background:rgba(47, 48, 58, 1);
    --footer-light-gray:rgba(255, 255, 255, 0.6);
    --button-color-unselected:rgba(245, 244, 250, 1);
    --main-button-hover: rgba(24, 140, 232, 1);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HEADER */
.main-header{
    display: flex;
    align-items: baseline;
    padding-left: 215px;
<<<<<<< HEAD
    padding-top: 0;
=======
    padding-top: 24px;
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    height: 56px;
    position: relative;
}

.main-navigation{
<<<<<<< HEAD
    display: none;
=======
    display: flex;
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
    align-items: baseline;
    margin-left: 53px;
}
.main-navigation-contacts{
    display: flex;
    gap: 50px;
}

.main-navigation-address{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    gap: 40px;
    position: absolute;
    right: 215px;
    top: calc(50% - 9px) ;
=======
    /* margin-left: 330px; */
    gap: 40px;
    position: absolute;
    right: 215px;
    top: calc(50% + 3px) ;
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
}

.main-header-email{
    display: flex;
}

.main-header-email svg{
    width: 16px;
    height: 12px;
    top: 34px;
    left: 1042px;
    fill: rgba(117, 117, 117, 1);
}

.main-header-phone{
    display: flex;
<<<<<<< HEAD
    width: 200px;
=======
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
}

.main-header-phone svg{
    width: 10px;
    height: 16px;
    top: 32px;
    left: 1243px;
    fill: rgba(117, 117, 117, 1);
}

.main-navigation-address div{
    display: flex;
    gap: 10px;
}

.current{
    border-bottom: 4px solid var(--selected);
    border-radius: 4px;
    padding-bottom: 18px;
}

.main-header .main-navigation address a{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14 ;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--light-gray);
    font-style: normal;
}

<<<<<<< HEAD

=======
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
.main-header div{
    font-family: "Raleway", sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;

}

.main-header a div span{
    color: var(--selected);
}

.main-header a{
<<<<<<< HEAD
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
=======
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
    text-decoration: none;
    color: var(--not-selected);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;

}

.main-header-email:hover svg,
.main-header-phone:hover svg{
    fill: var(--selected);
    color: var(--selected);
    transition: color var(--transition) , fill var(--transition);
}


.main-header .main-navigation a:hover,
.main-header .main-navigation a:focus,
.main-header-email:hover svg{
    color: var(--selected);
    fill :var(--selected);
    transition: color var(--transition) , fill var(--transition);
}
/* END HEADER */

/* MAIN */

.img1,
.img2,
.img3{
    position: relative;
}


.img1 p{
    width: 107px;
    height: 16px;
    margin: 0px;
    text-transform: uppercase;
    z-index: 100;
    position: absolute;
    color: var(--white-text);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    left: 0px;
    top: 224px;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-right: 131px;
    padding-left: 132px;
    padding-bottom: 27px;
}

.img2 p{
    position: absolute;
    width: 95px;
    height: 16px;
    z-index: 100;
    color: var(--white-text);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0px;
    left:0px;
    top: 224px;
    padding-left: 138px;
    padding-right: 137px;
    padding-bottom: 27px;
    padding-top: 27px;

}

.img3 p{
    position: absolute;
    z-index: 100;
    width: 136px;
    height: 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-text);
    top: 224px;
    margin: 0px;
    padding-left: 117px;
    padding-right: 117px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8); ;

}


ul{
    list-style-type: none;
}

.buttons-port{
    border-radius: 4px;
    background-color: var(--button-color-unselected);
    color: var(--not-selected) ;
    border-color: var(--button-color-unselected);
    font-style: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: 1px solid var(--button-color-unselected);

}

.buttons-port:hover,
.buttons-port:focus{
    background-color: var(--selected);
    color: var(--white-text) ;
    border-color: var(--selected);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    transition: color var(--transition) , background-color var(--transition) , border-color var(--transition);

}

.buttons-main{
    border-radius: 4px;
    background-color: var(--selected);
    color: var(--white-text) ;
    border-color: var(--selected);
    font-style: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.85;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--selected);
    width: 200px;
    height: 50px;
    top: 430px;
    left: 700px;
}

.buttons-main:hover{
    background-color: var(--main-button-hover);
    color: var(--white-text);
    border: 1px solid var(--main-button-hover);
    transition: background-color var(--transition) , color var(--transition);
}

.web-studio-main{
    background-repeat: no-repeat;
    background-color:var(--main-background);
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4)) ,url(../images/MainBG.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    color: var(--white-text);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0;

}

h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

}

h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;

}

.main-font{
    font-family: "Roboto" , sans-serif;
    color: var(--not-selected);
}

.port-font{
    font-family: "Roboto" , sans-serif;
    color: var(--not-selected);
    width: 1600px;
}

.main-paragraph-flex{
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

.main-paragraph-flex li svg{
    background-color:rgba(245, 244, 250, 1);
    height: 70px;
    width: 70px;
}

.main-paragraph-flex div{
    display: flex;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1) ;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-paragraph p{
    color: var(--light-gray);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    width: 270px;

}

.what-we-do-section{
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.what-we-do-h2{
    display: none;
}

.what-we-do-section-section{
    padding: 0;
}

.photo-cards-main-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.photo-cards-main-section{
   background-color: #F5F4FA;
   padding-bottom: 94px;
   padding-top: 94px;
}

.photo-cards-main span{
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.photo-cards-main li{
    text-align: center;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 4px;

}

.photo-cards-socials{
    margin-top: 16px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-cards-socials div{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 12px;
}


.photo-cards-socials div:hover{
    background-color: var(--selected);
    transition: background-color var(--transition);
}

.photo-cards-socials-hover:hover svg{
    fill: white;
    transition : fill var(--transition);
}


.photo-cards-socials svg{
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
}

.photo-cards-main p{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
}


.photo-cards-port li{
    border: 1px solid rgba(238, 238, 238, 1);
}

.photo-cards-port li:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow var(--transition);
}

.photo-cards-port .overlay{
    position: relative;
    overflow: hidden;
    padding: 0px;
    
}

.overlay span{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    visibility: hidden;  
      
}

.photo-cards-port li:hover .overlay span{
    transform: translateY(0);
    transition: transform 250ms ease;
    visibility: visible;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white-text);
    padding-top: 63px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 91px;
}
.photo-cards-port p{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}
.photo-cards-port span{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--light-gray);
}

.main-navigation .current{
    color: var(--selected);
}

.port-flex{
    display: block;
    width: 1200px;
}

.port-font main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-port-flex ul{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.photo-cards-port ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0px;
    flex-basis: calc((100% - 30px) / 3);
}

.photo-cards-port div{
    padding-left: 24px;
    padding-bottom: 20px;
}

.section{
    padding-bottom: 94px;
    padding-top: 94px;
}

.main-client svg{
    width: 170px;
    height: 92px;
    top: 2493px;
    left: 215px;
    border-radius: 4px;
    border: 1px;
    border: 1px solid rgba(175, 177, 184, 1);
    flex-basis: calc((100% - 60px) / 2);
}

.main-client{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    fill: rgba(175, 177, 184, 1);
    padding: 0;
}

.main-logo:hover{
   fill: var(--selected);
   border-color: var(--selected);
   transition: cubic-bezier(0.4, 0, 0.2, 1) , fill var(--transition);

}

/* END MAIN */

/* FOOTER */



.main-footer{
    background-color: var(--main-background);
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 60px;
    gap: 70px;
    align-items: center;
    padding-bottom: 60px;
}


.main-footer-address{
    gap: 28px;
    display: flex;
    flex-direction: column;
}

.main-footer-tablet1{
    display: flex;
    flex-direction: column;
    gap: 60px;
    column-gap: 0;
}

.main-socials{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-socials span{
    width: 80px;
    height: 16px;
    top: 2754px;
    left: 516px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform:uppercase; 
}


.main-socials svg{
    width: 20px;
    height: 20px;
    top: 12px;
    left: 12px;
    fill: white;

}

.main-socials-flex{
    display: flex;
    gap: 10px;
}

.main-socials-flex div{
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
    width: 20px;
    height: 20px;
}

.main-socials-flex div:hover{
    background-color: var(--selected);
    border: 1px solid var(--selected);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color var(--transition);
}

.main-footer-address div{
    font-family: "Raleway" , sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.main-footer-address address{
    justify-content: center;
    align-items: center;
}

.main-footer-address div span{
    color: var(--selected);
}

.main-footer a{
    text-decoration:none;
    color: var(--white-text);
}

.main-footer address{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 0px;
}

.main-footer address a{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--footer-light-gray);
    font-style: normal;
}

.main-footer address span{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--white-text);
    font-style: normal;
}

.newsletter{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.newsletter span{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.newsletter form{
    padding-top: 20px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.newsletter div{
    position: relative;
}

.newsletter input[type=submit]{
    width: 200px;
    height: 50px;
    background-color: var(--selected);
    border: 1px solid var(--selected);
    border-radius: 4px;

}

.newsletter input[type=email]{
    width: 358px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background:transparent;
    height: 49px;
    padding: 0;
    outline: none;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
}

.newsletter input[type=email]::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
}

.submit-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-left: 100px;

}

.submit-div svg{
    width: 24px;
    height: 24px;
    position: absolute;
    fill: white;
    right: 10%;
}

.submit-div input[type=submit]{
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: capitalize;
    padding-right: 25px;
}

/* END FOOTER */

/* MODAL */
.is-hidden{
    visibility: hidden;
    opacity: 0;
}


.modal {
    margin-left: 8px;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms linear , opacity 250ms linear;    
 }

.modal button{
    position: absolute;
    background-color: white;
    right: 6px;
    top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.close-btn:hover{
    color: var(--selected);
}

.modal-content{
    z-index: 100099;
    width: 528px;
    height: 581px;
    background-color: white;
    position: fixed;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.form-div{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 4px;
    position: relative;
    
}

.form-div input{
    width: 406px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
}

.form-div div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-div div svg{
    fill: rgba(33, 33, 33, 1);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 15px;
    top: 14px;
}

.modal-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 12px;
}

.form-div label{
    color: rgba(117, 117, 117, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;

}

.form-div textarea{
    resize: none;
    width: 416px;
    height: 96px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px; 
}

.form-div:hover svg,
.form-div:hover input,
.form-div:hover textarea{
    fill: var(--selected);
    border-color: var(--selected);
    transition: fill var(--transition) , border-color var(--transition);
}

.form-div textarea::placeholder{
    font: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(117, 117, 117, 0.5) ;

}

.modal-div span{
    width: 448px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
}

.terms{
    padding-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms span{
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}

.terms a{
    color: var(--selected);
}

.terms input[type=checkbox]{
    width: 16px;
    height: 15px;
    accent-color: var(--selected);
}

.send-button{
    padding-top: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button input{
    width: 200px;
    height: 50px;
    background-color: var(--selected);
    border: 1px solid var(--selected);
    border-radius: 4px;

}


.send-button input[type=submit]{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: white;
}

/* END MODAL */

/* MENU */
<<<<<<< HEAD
.nav-mobile{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 40px;
    height: 40px;
}
.nav-mobile svg{
    width: 40px;
    height: 40px;
    fill: black;
}

.js-menu-container{
    display: none;
}

.js-menu-container.is-open{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    background-color: white;
    width: 440px;
    height: 100%;
    padding-top: 10px;
    padding-left: 40px;
    z-index: 2;
}

.js-menu-container .js-close-menu{
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-self: flex-end;

}
.js-menu-container .js-close-menu svg{
    width: 40px;
    height: 40px;
}
.js-menu-container .js-close-menu svg:hover{
    fill: var(--selected);
}

.menu-drawer-nav{
    display: flex;
    flex-direction: column;
    gap: 306px;
}

.menu-links{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 32px;
}

.menu-links li a{
    color: var(--not-selected);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: left;
}
.menu-links li a:hover{
    color: var(--selected);
}

.menu-contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.menu-contacts a{
    color: var(--not-selected);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--light-gray); 
}

.menu-contacts a:hover{
    color: var(--selected);
}
.menu-contacts a:nth-child(1){
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-align: left;
}

.menu-contacts a:nth-child(2){
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
}

.menu-socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0;
    padding-top: 64px;
    margin: 0;
}
.menu-socials li{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    color: var(--selected);
    cursor: pointer;
}

.menu-socials li:nth-child(4){
    border-right: 0px;
}


/* END MENU */

@media screen and (min-width: 768px){
    .main-header{
        height: 80px;
    }
    .main-navigation{
        display:flex;
    } 
    .main-navigation-address{
        flex-direction: column;
        gap: 10px;
        align-items: baseline;
        top: 21px;
    }
    .main-navigation-contacts{
        padding-top: 11px;
    }

    .main-header a{
        position: static;
    }
    .main-header .title{
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-header{
        padding: 0;
    }
    .current{
        padding-bottom: 31px;
    }


=======

/* .js-menu-container{
  display: none;
}

.js-menu-container.is-open{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  height: 100%;
  width: 337px;
  padding: 48px 40px;
  z-index: 1;
}

.js-menu-container .js-close-menu{
  border: none;
  background:none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 30px;
}

.js-menu-container .js-close-menu svg{
  width: 40px;
  height: 40px;
}

.menu-drawer-navigation{
  display: flex;
  flex-direction: column;
} */


@media screen and (min-width: 768px){
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
    .main-paragraph-flex{
        flex-wrap: wrap;
        flex-direction: row;
        padding: 15px;
    }
    .main-paragraph li{
        flex-basis: calc((100% - 48px) / 2);
        width: 354px;
    }
<<<<<<< HEAD
    .nav-mobile{
        display: none;
    }
=======
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7


    .photo-cards-main-flex{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 15px;
        padding-left: 15px;
    }
    .photo-cards-main-flex li{
        flex-basis: calc((100% - 60px) / 2);
    }
    .main-client svg{
        flex-basis: calc((100% - 90px) / 3);
    }

    .main-socials{
        padding-left: 160px;
    }
    .main-footer-tablet1{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
}

@media screen  and (min-width: 1158px){
    .main-navigation{
        display: flex;
    }
    .main-header a{
        position: static;
    }
    .main-header.title{
        position: static;
    }
    .main-header{
        padding-left: 215px;
    }
    .main-navigation-address{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 32px;
        right: 0;
    }


    .main-paragraph-flex{
        flex-wrap: nowrap;
    }
    .main-paragraph{
        padding: 0 215px;
    }
    
    .what-we-do-h2{
        display: flex;
        justify-content: center;
    }
    .what-we-do-section{
        display: flex;
        flex-direction: row;
    }
    .what-we-do-section-section{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .photo-cards-main-flex{
        flex-wrap: nowrap;
    }
    .photo-cards-main{
        padding-left: 215px;
        padding-right: 215px;
    }

    .section{
        flex-wrap: nowrap;
    }
    .main-client{
        flex-wrap: wrap;
        padding-left: 215px;
        padding-right: 215px;
    }

    .main-client svg{
        flex-basis: calc((100% - 180px) / 6);
    }
    

    .main-footer{
        flex-direction: row;
        gap: 60px;
        justify-content:baseline;
        align-items: center ;
        padding-left: 215px;
        padding-bottom: 0;
    }
    .main-footer address{
        padding-bottom: 60px;
    }
    .main-footer-address{
        align-items: flex-start;
    }
    .main-footer-address div{
        text-align: left;
    }
    .main-socials{
        padding-bottom: 99px;
        padding-left: 0;
    }
    
    .main-footer-address address{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .newsletter{
        padding-bottom: 99px;
    }
    .newsletter span{
        text-align: left;
    }
    .newsletter form{
        flex-direction: row;
    } 
    .submit-div{
        padding: 0;
    }
    .submit-div svg{
        right: 15%;
    }
<<<<<<< HEAD
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .web-studio-main {
    background-image: url(../images/MainBG-2x.jpg);
  }
=======
>>>>>>> c8cbf4806adda85d064b6b51805bf8e795badef7
}